body {
  margin: 0;
  padding: 0;
  width: 100vw;

}

.navbar {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  color: #E7DFD5;
  font-size: large;
  font-weight: bold;
  background-color: #204051;


  img {
    width: 100px;
    margin: 0 20px;

  }
}

.menuContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;

}


.menuUl_Container {
  padding: 0;
  width: 150px;
  text-align: center;
  li{
    margin: 5px;
    color: #E7DFD5;

  }
}

.menuItem {
  list-style: none;
  border: 1px solid black;
  height: 15px;
  padding: 10px;;
}

.containerForDashboard {
  display: flex;
  height: 750px;
  background-color: #3B6978;


}

.dashboard {
  background-color: #E7DFD5;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  overflow: auto;


}

.dashboardtable {
  margin-top: 20px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  tr {
    th, td {
      border: 1px solid black;
    }
  }
}




.uniqueQuestionItemBtn{
  display: flex;
  justify-content: space-evenly;
}

.modalContainer{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modalContainer_background{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.formContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 10px;
  width: 500px;
  border-radius: 20px;
  align-items: center;
}