body {
  margin: 0;
  padding: 0;
}

.adminDashboardContainer {
  width: 100vw;
  height: 100vh;
}

.navBar {
  width: 100%;
  height: 120px;
  background-color: coral;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .userAvatarContainer {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 100px;
  }

  .avatar {
    width: 50px;
  }
}

.sideBar {
  width: 150px;
  height: 100%;
  background-color: lightcoral;

  ul {
    margin: 0;
    padding: 10px;
    text-align: center;
    list-style: none;
  }
}

